#float-right-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}
#float-right-icon:hover {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.hover-text:hover {
    cursor: pointer;
}
.outlined-box:hover {
    cursor: pointer;
}
.blue-text {
    color: blue;
    text-align: center;
}