.create-padding-input-payment {
    padding: 5px 12.5px;
    width: 100% !important;
}
.heavy-p {
    font-weight: 425 !important;
}
.min-col-styled {
    min-width: 100% !important;
}
.desc-desc-hiring-markdown {
    max-height: 325px;
    overflow-y: scroll;
    border: 2px solid lightgrey;
    padding: 5px 12.5px;
}
.cardcardcard-min {
    min-height: 450px;
    height: 100%;
}
.full-payment-block {
    border: 1.75px dotted black;
    color: black;
    min-width: 100%;
    font-weight: bold;
}
.mega-badge-pricing-full {
    background-color: rgba(7, 7, 7, 0.774);
    color: white !important;
}
.overlayCurrentlyDue {
    min-width: 82.5vw;
    min-height: 57.5vh;
    max-height: 57.5vh;
    overflow-y: scroll;
}
.top-modal-to-completed {

}
.push-btn-bottom-payment {
    position: absolute;
    bottom: 52.5px;
    right: 65px;
    left: 65px;
    padding-top: 45px;
}
.previous-payment-header {
    color: #7366ff;
    font-weight: bold;
    text-decoration-line: underline;
}
.previous-payment-sub {
    color: white;
    font-weight: bold;
}