.video-loading-payment-onboarding { 
    min-height: 80vh !important;
    min-width: 100% !important;
}
.subheader-preview-onboarding-p {
    font-weight: 450;
}
#iframe-onboarding-id {

}
.iframe-onboarding-class {

}