.course-list-custom-item {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    max-width: 97.5%;
}
.progressbar-course-scrollable {
    margin-bottom: 17.5px;
}
.center-above-bar-courses-header {

} 
#progress-text-green {
    text-align: center !important;
    color: #51bb25;
}
#progress-text-blue {
    color: #7366ff;
}
#progress-text-warning {
    color: #f8d62b;
}
#progress-text-danger {
    color: #f73164;
}
#progress-text-info {
    color: #a927f9;
}
.blog-bottom-details-maxed {
    max-height: 175px;
    min-height: 175px;
    overflow-y: scroll;
}
.container-top-image-min {
    min-height: 250px !important;
    max-height: 250px;
    padding: 25px;
    object-fit: cover;
}