.row-wrap {
   
}
.row-wrap span {
    word-wrap: break-word;
    flex-wrap: nowrap;
    -moz-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
    word-break: break-all;
    flex-wrap: wrap;
}
.topbar-right-video-profile {
    max-width: 50px;
    max-height: 50px;
    border-radius: 10px !important;
    background-color: rgb(233, 233, 233);
    border: 2.25px solid #7366ff;
}
.blue-medium-border-addition {
    border: 2.25px solid #7366ff;
}
@media only screen and (max-width: 875px) {
    .logo-wrapper {
        min-height: 100px !important;
    }
}