.ribbon-wrapped-streaming-card {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1825) !important;
    height: 100%;
    border-radius: 30px;
}
.streaming-chat-card-wrapper {
    
}
.streaming-chat-card-body {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1825) !important;
    height: 100%;
    border-radius: 30px;
}
.custom-streaming-player {
    box-shadow: 0 0.5rem 1rem rgb(231, 33, 33, 0.375) !important;
    height: 100%;
}
.custom-chat-user-image {
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-height: 40px;
}
.ul-messages-custom {
   padding-bottom: 25px !important;
   background-color: #efefef !important;
   padding: 7.5px !important;
}