.subject-title {
    font-weight: bold;
    text-align: center;
    color: #f73164;
    text-decoration-line: underline;
}
.message-data-time-custom-left {
    min-width: 100% !important;
    padding-bottom: 12.5px;
    color: #7366ff !important;
    font-weight: 450;
}
.message-data-time-custom-right {
    min-width: 100% !important;
    padding-bottom: 12.5px;
    color: #7366ff !important;
    font-weight: 450;
}
.add-hover-message-convo:hover {
    cursor: pointer;
}
.add-hover-message-convo-individual {
    background-color: #fff !important;
    border-radius: 20px !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.20) !important;
}
.add-hover-message-convo-individual:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(129, 18, 18, 0.475) !important;
    font-weight: 500;
}
.checkbox-custom-group-change {
    float: right;
    margin-top: -10px;
}
.custom-msg-about {
    width: 100% !important;
}
.status.custom-chat-row > div > label {
    margin-right: -7.5px;
}
.emoji-mart emoji-mart-light {
    min-width: 600px !important;
}
.typing-animation {
    max-width: 70px;
    max-height: 50px;
    min-width: 70px;
    z-index: 0 !important;
    min-height: 50px;
}
.typing-indicator-wrapper {
    position: absolute;
    left: 65px;
    bottom: 75px;
    z-index: 0 !important;
}
.emoji-mart-preview {
    z-index: 9 !important;
    background-color: white;
}
.delivery-status-wrapper-left {
    position: absolute;
    left: 3.5px;
    bottom: -32.5px;
} 
.delivery-confirmation-left {
    color: black;
    font-weight: 450;
}
.delivery-status-wrapper-right {
    position: absolute;
    right: 3.5px;
    bottom: -32.5px;
} 
.delivery-confirmation-right {
    color: black;
    font-weight: 450;
    /* position: absolute !important;
    top: 0px;
    bottom: 5px;
    right: 7.5px; */
}
.custom-message-action-listgroup:hover {
    cursor: pointer !important;
}   
.custom-chat-popover .popover {
    min-width: 425px !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.55) !important;
}
.custom-chat-popover .popover ul li {
    text-align: center !important;
}
.custom-chat-popover .popover .popover-header {
    text-align: center !important;
    font-weight: 425 !important;
    font-size: 1.225rem;
    text-decoration-line: underline;
}