.custom-markdown-container {
    max-height: 250px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border: 2.175px solid black;
    padding: 7.5px;
    overflow-y: scroll;
}
.heavy-blue {
    color: blue;
}
.spacing-bottom {
    margin-bottom: 17.5px;
}
.btn-redirect-listing-container-wrapper {
    margin-top: 18.5px;
    margin-bottom: 10px;
}
.custom-project-box {
    height: 100% !important;
}
.no-promoted-listings-wrapper {
    margin-bottom: 32.5px;
    margin-top: 32.5px;
}
.longer-image-no-promoted {
    width: 92.5%;
    height: 92.5%;
    border: 4.25px solid #f73164;
    box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.275) !important;
}
.row-promoted-listings-flex {
    width: 100%;
    min-width: 100%;
    flex-direction: row;
    display: flex;
    overflow-x: scroll;
    max-width: 100%;
}
.shadowey-promoted-card {
    box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.275) !important;
    border: 2.25px solid  #7366ff;
}
.boosted-listings-title {
    color: #7366ff;
    text-decoration-line: underline;
}
.spacer-top-portion-promoted {
    margin: 22.5px;
}
.sort-category-custom {
    font-size: 1.15rem;
    text-decoration-line: underline;
    color: #7366ff;
    margin-top: 17.5px;
}
@media only screen and (max-width: 850px) {
    .shadowey-promoted-card {
        min-width: 77.5vw !important;
    }
}