.container-pane-full-payment {
    min-width: 100vw;
    background-color: #fff !important;
    min-height: 67.5vh;
    padding: 17.5px;
}
#breadcrumb-full-payment .container-fluid .page-title .row {
    background-color: #fff !important;
    padding-top: 12.5px;
    min-width: 100vw !important;
}
#breadcrumb-full-payment .breadcrumb {
    background-color: #fff !important;
    padding-top: 12.5px;
    min-width: 100vw !important;
}
.card-payment-entirely-halved {
    box-shadow: 0 0.25rem 1.5rem rgba(0, 0, 0, 0.148) !important;
}
.capabilities-header {
    font-weight: bold;
}
.gif-add-capability {
    min-width: 37.5px !important;
    min-height: 37.5px !important;
    margin-left: 7.5px;
}
.gif-add-capability:hover {
    min-width: 37.5px !important;
    min-height: 37.5px !important;
    margin-left: 7.5px;
    cursor: pointer !important;
}
.create-row-capability {
    flex-direction: row;
}
.elevate-popover .popover {
    z-index: 999999999999999999999999999999999999999999999999999999999999999999999999 !important;
}
.my-sheet-container-price-wrapper {
    z-index: 99 !important;
}
.dotted-border-col {
    border: 1.75px dotted black;
    padding: 12.5px;
    margin: 7.5px;
    max-width: 42.5vw;
    min-height: 425px;
    overflow-y: scroll;
    max-height: 425px;
}
.active-picked, .active-picked {
    margin-top: 15px !important;
    background-color: #fff !important;
    font-weight: bold !important;
    box-shadow: 0 0rem 1.5rem rgba(2, 19, 255, 0.353) !important;
}