.skelaton-profile-wrapper {
    margin-top: 25px;
    margin-bottom: 25px;
}
.slightly-larger-desc-hacker-profile {
    font-size: 1.15rem !important;
    color: #f73164 !important;
    font-weight: 475;
}
.core-top-hacker-profile-info {
    margin-top: 17.5px;
}
.custom-hacker-profile-ribbon:hover {
    background-color: red;
    cursor: pointer;
}
#banner-photo-cover-all {

}