.backgroundcard-image {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 0;  
    object-fit: cover !important;
    min-height: 100%;
    min-width: 100%;
}
.ontop-other {
    z-index: 1 !important;
    min-height: 485px;
}
.white-text-custom {
    color: #fff;
}
.roundme {
    border-radius: 50%;
    max-width: 100px;
    border: 3px solid #fff;
    max-height: 100px;
}