.blue-text-listing {
    color: #7366ff;
    font-size: 22px;
    text-decoration-line: underline;
}
.stretch-both-ways {
    min-height: 100%;
    max-height: 100%;
    width: 200px;
}
.skeleton-stretch {
    min-width: 100%;
}
.add-border-bottom-thin-listing {
    border-top: 1px solid #7366ff !important;
}
.lead-list-group-item {
    font-size: 15px;
    line-height: 1.7;
    letter-spacing: 0.7px;
}
.listgroupitem-list-custom .list-group {

}
.custom-card-top-bar {
    width: 100%;
    margin: 12.5px;
}
.listgroupitem-list-custom-active {

}
.list-listview-wrapper-wrap {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.very-top-header {
    font-size: 1rem !important;
}
.span-very-top-sub {
    color: blue !important;
    font-weight: bold;
}
.modal-stretched-both{ 
    min-width: 100%;
    min-height: 72.5vh;
    max-height: 72.5vh !important;
    padding-top: 75px !important;
    object-fit: contain !important;
}