.container-footer-spacing {
    padding: 12.5px 45px !important;
}
@media only screen and (max-width: 775px) {
    #hide-authentication-btns-mobile {
        display: none !important;
    }
}
@media only screen and (min-width: 750px) and (max-width: 1300px) {
    #logoooooo, #hide-authentication-btns-mobile {
        display: none !important;
    }
}