.screenshot-homepage {
    min-width: 100%;
    object-fit: contain;
    border: 2.75px solid grey;
    box-shadow: 0 1.25rem 1.25rem rgba(0, 0, 0, 0.275);
}
.landing-page-display-img {
    min-width: 100%;
    object-fit: contain;
    border: 2.75px solid grey;
    box-shadow: 0 1.25rem 1.25rem rgba(0, 0, 0, 0.275);
}
.youtube-homepage-video {
    border: 2.75px solid lightgrey;
    box-shadow: 0 1.25rem 1.25rem rgba(202, 202, 202, 0.325);
}