.emoji-response-post {
    float: left;
}
.custom-like-response-zone {
    margin-top: 40px;
}
.post-title-main {
    font-weight: 500;
    color: black !important;
}
.image-render-col-custom {
    margin: 0px !important;
    max-height: 350px;
    background-color: rgba(173, 173, 173, 0.185);
    padding: 3.5px !important;
}
/* normal image - actual image element/css */
.post-image-resized {
    object-fit: cover !important;
    max-height: 100% !important;
    min-height: 100% !important;
    min-width: 100% !important;
}
.emoji-already-existant-profile-wall {
    min-height: 55px;
    min-width: 55px;
    max-height: 55px;
    max-width: 55px;
    margin-left: 0px !important;
}
/* normal image WRAPPER - image wrapper or container */
.align-post-content-picture {
    max-height: 200px !important;
    height: 100%;
    width: 100%;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
.maxed-out-post-video-custom video, .maxed-out-post-video-custom, .maxed-out-post-video-custom-wrapper {
    min-height: 100% !important;
    height: 100% !important;
    min-width: 100% !important;
}
.min-50-50-video {
    min-width: 62.5px;
    background-color: lightgrey;
    min-height: 62.5px;
    max-height: 62.5px;
    max-width: 62.5px;
    width: 62.5px;
    border-radius: 15px !important;
    height: 62.5px;
}
.custom-profile-comments-row-override {
 
}
.min-50-50-image {
    min-width: 50px !important;
    min-height: 50px !important;
    max-width: 50px !important;
    max-height: 50px !important;
}
#create-spacer-comment-box-profile-individual {
    min-width: 100% !important;
}
.your-msg-custom-profile-mapped {
    /* min-width: 700px !important;
    margin-left: -100px !important; */
}
/* posting video wrapper/container outter */
.maxed-out-post-video-custom-wrapper {

}
.post-image-resized:hover {
    cursor: pointer !important;
}
.maxed-out-post-video-custom:hover {
    cursor: pointer !important;
}
/* bottom row similar */
.maxed-out-post-video-custom-wrapper-bottom {
    max-height: 200px !important;
    min-height: 100% !important;
    height: 100% !important;
    width: 100% !important;
    min-width: 100% !important;
}
.align-post-content-picture-bottom-item {
    max-height: 200px !important;
    min-height: 100% !important;
    height: 100% !important;
    width: 100% !important;
    min-width: 100% !important;
}
.align-post-content-picture-bottom-item img {
    object-fit: cover !important;
}