#override-custom-card {
    min-height: 100% !important;
}
.card-social-custom-edit {
    padding-top: 10px !important;
}
.top-image {
    z-index: 0 !important;
}
.custom-player {
    min-height: 150px;
    max-height: 150px;
    min-width: 100%;
    top: -7.5px;
    width: 50%;
    margin: 0 auto;
    max-width: 100%;
    z-index: 1 !important;
    position: relative;
}
.custom-player video {
    border-radius: 80% !important;
    z-index: 1 !important;
}
.background-fill {
    background-color: lightgrey !important;
    min-height: 150px;
    max-height: 150px;
    min-width: 150px;
    width: 50%;
    margin: 0 auto;
    max-width: 150px;
    z-index: 1 !important;
    position: relative;
    border: 7px solid white;
}