.pane-create-community-card {
    margin-top: 25px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.225) !important;
}
.emphisize-redirect-forum {
    color: #7366ff;
}
.emphisize-redirect-forum:hover {
    color: #f73164;
}
.tabpane-forum-create-community {
    padding: 12.5px;
    border: 2.25px dotted black;
}
.invite-users-community-card {
    padding: 25px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.225) !important;
}
.list-row-mapped-forum {
    min-width: 100%;
    display: inline-block;
}
.profile-pic-forum-mapped {
    max-width: 92.5px;
    max-height: 92.5px;
    min-height: 92.5px;
}
.mapped-rounded-pic-video-forum {
    max-width: 92.5px;
    max-height: 92.5px;
    border-radius: 50%;
    background-color: rgb(224, 224, 224);
}
.mapped-rounded-pic-video-forum video {
    border-radius: 50%;
}
.searching-addon-list-people-right:hover {
    cursor: pointer;
}
.searching-addon-list-people-left:hover {
    cursor: pointer;
}
.stretch-width-listgroup-inner {
    min-width: 100% !important;
}
.row-mapped-image {
    max-width: 72.5%;
    min-height: 100%;
    border-radius: 50%;
}
.col-wrap-forum {
    display: inline-block;
    max-width: 50%;
    padding: 7.5px;
    border: 1.75px dotted black;
}
.col-wrap-forum:hover {
    display: inline-block;
    cursor: pointer;
    max-width: 50%;
    padding: 7.5px;
    border: 2.25px solid #7366ff;
}
.rise-above-pop {
    z-index: 999999999999999 !important;
    margin-top: 10px;
    color: blue;
    font-weight: 450;
}
.imageuploader-forum-community {
    min-width: 100%;
    margin-top: 27.5px;
}
.info-icon-forum:hover {
    cursor: pointer;
}
.option-input-forum-card {
    box-shadow: 0 0.5rem 1.75rem rgba(0, 0, 0, 0.25) !important;
    margin-top: 12.5px;
    padding: 10px;
}
.option-input-forum-card .media {
    min-height: 125px !important;
}
.col-radio-forum {

}
.info-icon-forum {
    max-width: 27.5px;
    max-height: 27.5px;
}
.searching-results-forum-users {
    min-height: auto;
    z-index: 99999999;
    bottom: 100px;
    margin-left: 0px;
    margin-top: -15px;
    overflow-y: scroll;
    min-width: 100%;
    max-height: 425px;
    /* columns: 2 auto; */
    max-width: 90vw;
    width: 90vw;
    background-color: white;
    border-left: 2.50px solid black;
    border-right: 2.50px solid black;
    border-bottom: 2.50px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.forum-error-text {
    color: red;
    font-weight: 450;
    margin-top: 7.5px;
}
.position-bottom-right-forum {
    position: absolute;
    bottom: 12.5px;
    right: 12.5px;
}
.close-icon-forum {
    max-width: 37.5px;
    max-height: 37.5px;
}
.close-icon-forum:hover {
    cursor: pointer;
    max-width: 37.5px;
    max-height: 37.5px;
}
.scrollable-listitem-group {
    margin: 22.5px;   
}
.community-image-custom {
    min-width: 100%;
    object-fit: contain;
    min-height: 100%;
}
.scrollable-listitem-group {
    max-height: 67.5vh;
    overflow-y: scroll !important;
}
@media only screen and (max-width: 850px) {
    .scrollable-listitem-group {
        max-height: 87.5vh;
        overflow-y: scroll !important;
    }
}