
.error {
    text-align: center;
    font-family: 'Gilda Display', serif;
    font-size: 7.25rem;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    text-decoration-line: underline;
    width: 100%;
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
    color: #a927f9; 
    height: 60px;
    line-height: 60px;
    margin: auto;
    top: 275px;
    position: absolute;
    bottom: 0;
    left: -60px;
    right: 0;
    animation: noise 2s linear infinite;
    overflow: default;
}
.shadow {
    box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.1775) !important;
}
.error:after {
    content: 'Unable to retrieve any results...';
    text-shadow: -2.5px -2.5px 0 #000, 2.5px -2.5px 0 #000, -2.5px 2.5px 0 #000, 2.5px 2.5px 0 #000;
    font-family: 'Gilda Display', serif;
    font-size: 6rem;
    font-style: italic;
    text-decoration-line: underline;
    text-align: center;
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin: auto;
    margin-top: 175px;
    font-weight: bolder;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    color: white;
    animation: noise-1 1.65s linear infinite;
}
.animation-background-no-results {
    max-width: 100%;
    width: 100%;
    max-height: 100vh;
    height: 100vh;
    object-fit: cover;
}
.animated-info {
    text-align: center;
    font-family: 'Gilda Display', serif;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    color: white;
    font-weight: 550;
    width: 70vw;
    max-width: 70vw;
    height: 60px;
    line-height: 60px;
    margin: auto;
    position: absolute;
    top: 225px;
    bottom: 0;
    left: 0;
    right: 0;
}
.emphisis-account-type {
    color: #7366ff;
    text-decoration-line: underline;
    text-shadow: -1.25px -1.25px 0 #fff, 1.25px -1.25px 0 #fff, -1.25px 1.25px 0 #fff, 1.25px 1.25px 0 #fff;
}
@media only screen and (max-width: 1000px) {
    .animated-info {
        text-align: center;
        font-family: 'Gilda Display', serif;
        font-size: 3rem;
        font-style: italic;
        text-align: center;
        color: white;
        font-weight: 550;
        width: 95vw;
        max-width: 95vw;
        height: 60px;
        line-height: 60px;
        margin: auto;
        position: absolute;
        top: 225px;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
@keyframes noise-1 {
    0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
    10% {opacity: .1;}
    50% {opacity: .5; left: -6px;}
    80% {opacity: .3;}
    100% {opacity: .6; left: 2px;}
}

@keyframes noise-2 {
    0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
    10% {opacity: .1;}
    50% {opacity: .5; left: 6px;}
    80% {opacity: .3;}
    100% {opacity: .6; left: -2px;}
}

@keyframes noise {
    0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; transform: scaleY(1);}  
    4.3% {opacity: 1; transform: scaleY(1.7);}
    43% {opacity: 1; transform: scaleX(1.5);}
}

@keyframes noise-3 {
    0%,3%,5%,42%,44%,100% {opacity: 1; transform: scaleY(1);}
    4.3% {opacity: 1; transform: scaleY(4);}
    43% {opacity: 1; transform: scaleX(10) rotate(60deg);}
}
/* lightbox logic globablly START */
.SRLThumbnailsContainer {
    margin-bottom: 12.5px;
}
/* lightbox logic global END */
/* POPOVER GLOBAL STYLES START */
.popover {
    max-width: 450px !important;
}
.centered-horizontally-custom {
    display: flex;
    justify-content: center
}
.underline {
    text-decoration-line: underline !important;
}
.text-secondary-custom {
    color: #f73164 !important;
    font-weight: 500 !important;
    font-size: 0.85rem !important;
    text-decoration-line: underline;
}
.text-primary-custom {
    color: #7366ff !important;
    font-weight: 500 !important;
    font-size: 0.85rem !important;
    text-decoration-line: underline;
}
/* POPOVER GLOBAL STYLES END */
/* MODAL STYLES START (SLIDE UP FROM BOTTOM MODAL/PANE) START */
.react-modal-sheet-content {
    background-color: #f8f8f8;
}
/* CUSTOM BUTTON STYLING START - ENTIRE APPLICATION */
#maxed-zindex {
    z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999 !important;
}
a:hover {
    cursor: pointer !important;
}
.nav-link-custom-homepage {
    min-width: 100% !important;
}
.custom-nav-item-link a {
    min-width: 100% !important;
}
.custom-input-text-group-transparent {
    background-color: transparent !important;
    border-left: 0px !important;
}
.custom-input-text-group-transparent:hover {
    background-color: transparent !important;
    border-left: 0px !important;
    background-color: rgb(241, 241, 241) !important;
    cursor: pointer;
}
.custom-password-input-signin {
    border-right: 0px !important;
}
.eye-icon-custom {
    width: 21.5px;
    height: 21.5px;
}
.success-hr {
    border-top: 1px solid #51bb25;
    background-color: #51bb25;
    margin-top: 25px;
}
.badge {
    margin-top: 10px !important;
}
.natural-sm-spacer {
    padding-top: 5.75px;
    padding-bottom: 5.75px;
}
.btn-disabled {
    background-color: rgb(235, 235, 228) !important;
}
.white-background {
    background-color: #fff !important;
}
.custom-code-redish {
    color: #f73164 !important;
    background-color: rgba(115, 102, 255, 0.03);
    padding: 5px 4px;
    border: 1.25px solid #f73164;
    font-weight: bold;
    margin: 1.5 4.5px;
    border-radius: 2px;
}
.custom-code {
    color: #7366ff !important;
    background-color: rgba(115, 102, 255, 0.03);
    padding: 5px 4px;
    border: 1.25px solid #7366ff;
    font-weight: bold;
    margin: 1.5 4.5px;
    border-radius: 2px;
}
.custom-price-tag {
    color: black !important;
    background-color: rgba(115, 102, 255, 0.03);
    padding: 3.5px 6.5px;
    border: 1.25px solid #7366ff;
    font-weight: bold;
    font-size: 1.325rem;
    margin: 2.5 4.75px;
    border-radius: 2px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.10) !important;
}
.centered-both-ways {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
/* CUSTOM BUTTON STYLING END - ENTIRE APPLICATION */

/* slide up bottom pane styles START */

@media only screen and (max-width: 754px) {
    #hide-on-small {
    display: none !important;
    }
}
.react-modal-sheet-backdrop {
    /* custom styles */
}
.react-modal-sheet-container {
    /* custom styles */
    height: 85vh !important;
}
.react-modal-sheet-header {
    /* custom styles */
}
.react-modal-sheet-drag-indicator {
    /* custom styles */
}
.react-modal-sheet-content {
    /* custom styles */
}
@media only screen and (max-width: 800px) {
    .react-modal-sheet-container {
        /* custom styles */
        height: 100vh !important;
    }
}
/* admin/dashboard/authenticated */
.overlaySlide {
    z-index: 99999999999999999 !important;
}
.disabled {
    background-color: #EBEBE4 !important;
}
.horizontally-centered {
    width: 50%;
    margin: 0 auto
}
.loadingBarRaise {
    z-index: 9999999999999999999999999999999999 !important;
}
.centered {
    display: 'flex'; 
    align-items: center; 
    justify-content: center;
    align-content: center;
}
/* admin/dashboard/authenticated - END */
.logo_long_top_left {
    max-width: 82.5% !important;
}