.custom-card-chunk-tutorial-individual {
    margin-bottom: 0px !important;
    padding-top: 22.5px !important;
    padding-bottom: 0px !important;
    min-width: 100%;
    margin-top: 22.5px;
    border-top: 1.75px solid grey;
}
.tutorial-video-player-individual {
    max-width: 100%;
    max-height: 100%;
}
.scrollable-y-tutorials {
    max-height: 125vh;
    overflow-y: scroll;
}
.muted-text-color {
    line-height: 1.25;
}
.min-50-img {
    min-height: 50px;
    min-width: 50px;
}
.modalTutorialModal {
    min-width: 75vw;
    min-height: 42.5vh;
}
.height-auto-modal-tutorial {
    min-height: 37.5vh;
    margin: 25px;
}